@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

/*Global styles*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.box {
    width: 100%;
    max-width: 73.438em;
    margin: 0 auto;
}